<h2>Education Details</h2>
<table>
    <thead>
        <th>Qualification</th>
        <th>School/College</th>
        <th>University/Board</th>
        <th>Stream</th>
        <th>Passing Year</th>
        <th>Result</th>
        <th>State</th>
    </thead>
    <tbody>
        <tr>
            <td>{{education?.Degree?.qualification}} <strong>(BE)</strong></td>
            <td>{{education?.Degree?.institute}}</td>
            <td>{{education?.Degree?.board}}</td>
            <td>{{education?.Degree?.stream}}</td>
            <td>{{education?.Degree?.year}}</td>
            <td>{{education?.Degree?.cgpa}}</td>
            <td>{{education?.Degree?.state}}</td>
        </tr>
        <tr>
            <td>{{education?.Intermediate?.qualification}} <strong>(12<sup>th</sup>)</strong></td>
            <td>{{education?.Intermediate?.institute}}</td>
            <td>{{education?.Intermediate?.board}}</td>
            <td>{{education?.Intermediate?.stream}}</td>
            <td>{{education?.Intermediate?.year}}</td>
            <td>{{education?.Intermediate?.percentage}}</td>
            <td>{{education?.Intermediate?.state}}</td>
        </tr>
        <tr>
            <td>{{education?.Matric?.qualification}} <strong>(10<sup>th</sup>)</strong></td>
            <td>{{education?.Matric?.institute}}</td>
            <td>{{education?.Matric?.board}}</td>
            <td>{{education?.Matric?.stream}}</td>
            <td>{{education?.Matric?.year}}</td>
            <td>{{education?.Matric?.cgpa}}</td>
            <td>{{education?.Matric?.state}}</td>
        </tr>
    </tbody>
</table>