<h2>Academic Projects</h2>

<table>
    <thead>
        <th>Project Name</th>
        <th>Projects Details</th>
        <th>Objective of Project</th>
    </thead>
    <tbody>
        <tr>
            <td>{{projects.CollageProject.projectName}}</td>
            <td>{{projects.CollageProject.projectWork}}</td>
            <td>{{projects.CollageProject.objective}}</td>
        </tr>
        <tr>
            <td>{{projects.CollageInternship.projectName}}</td>
            <td>{{projects.CollageInternship.projectWork}}</td>
            <td>{{projects.CollageInternship.objective}}</td>
        </tr>
    </tbody>
</table>