<div>
    <app-personal-info [person]="person"></app-personal-info>
</div>
<div>
    <app-objective [Objectives]="person.carrierObjective" [Summary]="person.Summary"></app-objective>
</div>
<div>
    <app-skills [Skills]="skill"></app-skills>
</div>
<div>
    <app-projects [projects]="projects"></app-projects>
</div>
<div>
    <app-education [education]="education"></app-education>
</div>
<div>
    <h2>Participation in IC Engine</h2>
    <p>Analyse working of four stock IC Engine.</p>
    <p>Learn whole mechanism occurs in a engine during combustion of fuel.</p>
</div>
<div>
    <app-hobbies [hobbies]="person.Hobbies"></app-hobbies>
</div>
<div>
    <h2>Declaration </h2>
    <p>I adhere that the information provided in this document is true to the best of my knowledge.</p>
</div>
<div>
    <app-current-info [currentInfo]="currentInfo"></app-current-info>
</div>

<!-- first we need to create variable in app.componenets.ts file -->
<!-- Use it in same app.components.html -->
<!-- For other component, we need to pass that variable to that component tag name -->
<!-- Finally to receive variable in particular component use @Input() in that components.ts -->