<div>
    <app-personal-info [person]="personInformation"></app-personal-info>
</div>
<div>
    <app-objective [Objectives]="personInformation.carrierObjective" [Summary]="personInformation.Summary">
    </app-objective>
</div>
<div>
    <app-skills [Skills]="skill"></app-skills>
</div>
<div>
    <app-front-end-projects [frontendProject]="frontendProjects"></app-front-end-projects>
</div>
<div>
    <app-education [education]="education"></app-education>
</div>
<div>
    <app-projects [projects]="projects"></app-projects>
</div>
<div>
    <app-curricular-activity [curricular_activity]="accomplishment"></app-curricular-activity>
</div>
<div>
    <app-declaration [declaration]="declaration"></app-declaration>
</div>
<div>
    <app-current-info [currentInfo]="currentInfo"></app-current-info>
</div>

<!-- first we need to create variable in app.componenets.ts file -->
<!-- Use it in same app.components.html -->
<!-- For other component, we need to pass that variable to that component tag name -->
<!-- Finally to receive variable in particular component use @Input() in that components.ts -->